<h3>SQL and SQlite </h3>
SQl is a standard language for managing and manipulating relational databases. 
Sqlite is a self contained, serverless and zero-configuration database engine that is widely used for embedded database systems.

In [17]:
import sqlite3

In [18]:
## connect to an SQlite database
connection = sqlite3.connect('example.db')
connection

In [19]:
cursor = connection.cursor()

In [20]:
## creating a table
cursor.execute(
''' 
Create table if not Exists
employees(
id Integer Primary key,
name Text Not Null,
age Integer,
department text
)

 '''
)
## Commit the chnages
connection.commit()

In [21]:
cursor.execute('''  
Select * from employees

'''


)

In [22]:
## Insert the data into sqlite table

cursor.execute('''
Insert into employees(name,age,department)
               values('Ashmeet',21,'Data Scientist')
''')

cursor.execute('''
Insert into employees(name,age,department)
               values('Ashy',20,'Ai Engineer')
''')

cursor.execute('''
Insert into employees(name,age,department)
               values('Abhi',22,'Ml engineer')
''')

connection.commit()

In [23]:
## Quering data from sqlite3 from the table:

cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Ashmeet', 30, 'Data Scientist')
(2, 'Ashy', 20, 'Ai Engineer')
(3, 'Ashmeet', 30, 'Data Scientist')
(4, 'Ashy', 20, 'Ai Engineer')
(5, 'Ashmeet', 21, 'Data Scientist')
(6, 'Ashy', 20, 'Ai Engineer')
(7, 'Abhi', 22, 'Ml engineer')

In [24]:
## update the data in the table 
cursor.execute('''
Update employees
Set age=30
where name="Ashmeet"
               ''')

connection.commit()

In [25]:
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Ashmeet', 30, 'Data Scientist')
(2, 'Ashy', 20, 'Ai Engineer')
(3, 'Ashmeet', 30, 'Data Scientist')
(4, 'Ashy', 20, 'Ai Engineer')
(5, 'Ashmeet', 30, 'Data Scientist')
(6, 'Ashy', 20, 'Ai Engineer')
(7, 'Abhi', 22, 'Ml engineer')

In [26]:
## Delete the data from table:
cursor.execute(
    '''
Delete from Employees
where name = "Abhi"
'''
)

connection.commit()

In [27]:
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Ashmeet', 30, 'Data Scientist')
(2, 'Ashy', 20, 'Ai Engineer')
(3, 'Ashmeet', 30, 'Data Scientist')
(4, 'Ashy', 20, 'Ai Engineer')
(5, 'Ashmeet', 30, 'Data Scientist')
(6, 'Ashy', 20, 'Ai Engineer')

In [28]:
## Working with Sales data Mini Project
## connect to an sqlite database
connection=sqlite3.connect('sales_data,db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute(''' 
create table if not exists sales (
               id Integer Primary Key,
               date Text not Null,
               product Text Not Null,
               sales Integer,
               region text
               )
''')

## Insert data into the sales table:

sales_data = [
    (1, '2023-01-15', 'Laptop', 1200, 'North'),
    (2, '2023-01-16', 'Mouse', 25, 'South'),
    (3, '2023-01-17', 'Keyboard', 75, 'East'),
    (4, '2023-01-18', 'Monitor', 300, 'West'),
]

cursor.executemany(

    '''  
Insert into sales(id,date,product,sales,region)
            values(?,?,?,?,?)
''',sales_data
)

connection.commit()

IntegrityError: UNIQUE constraint failed: sales.id

In [ ]:
cursor.execute('SELECT * from sales')
rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, '2023-01-15', 'Laptop', 1200, 'North')
(2, '2023-01-16', 'Mouse', 25, 'South')
(3, '2023-01-17', 'Keyboard', 75, 'East')
(4, '2023-01-18', 'Monitor', 300, 'West')

In [ ]:
## close the connection
connection.close()